################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/QLLC.Website/obj

/src/QLLC.Website/bin

/src/QLLC.Website/Properties
