@{
    ViewData["Title"] = "Cấu hình";
}

<div id="config-panel" class="report-panel">
    <div id="config-title" class="demo-section wide title">
        <span style="font-size: 30px;">Cấu hình</span>
    </div>
    <div class="formDisplay">
        <div id="configListGrid" class="report-grid"></div>
    </div>
    <div id="config-bottom" class="report-bottom"></div>
    <div id="NotificationDelete" style="display:none;"></div>
    <div id="window" style="display:none;"></div>
</div>

<script>

    $(window).resize(function () {
        resizeWrapper();
        resizeGrid();
    });
    function resizeGrid() {
        var gridElement = $("#configListGrid"),
            dataArea = gridElement.find(".k-grid-content"),
            gridHeight = gridElement.innerHeight(),
            otherElements = gridElement.children().not(".k-grid-content"),
            otherElementsHeight = 0;
        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });
        dataArea.height(gridHeight - otherElementsHeight);
    }

    function resizeWrapper() {
        // $("#tenant-panel").height($('#body').innerHeight() - $('#header').height());
        $("#configListGrid").height($("main").height() - $('#config-title').height() - 32 - 8);
    }
</script>
<script>
    $(document).ready(function () {
        $(window).trigger("resize");
    });
</script>
<script src="~/js/Config/index.js"></script>